
@{
    ViewBag.Title = "Index";
}



<div class="row">
    <div class="col-xs-12 text-center">
        <h2>Welcome to</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-center">
        <center><img src="/Content/Images/logo.jpg" alt="CRM " style="width:40%;"></center>
    </div>
</div>


